<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
  </head>
  <body>
    <h1>Hello, <%=json.username%>#<%=json.discriminator%>!</h1>
    <img src="https://cdn.discordapp.com/avatars/<%=json.id%>/<%=json.avatar%>?size=512">
    <h3>Balance: <%= balanceOfWallet %></h3>
  </body>
</html>