<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, <%=json.username%>#<%=json.discriminator%>!</h1>
    <img src="https://cdn.discordapp.com/avatars/<%=json.id%>/<%=json.avatar%>?size=512">
    <h3>Total Supply: <%= json.totalSupply %></h3>
  </body>
</html>