<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="semantic-ui/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic-ui/semantic.min.js"></script>
    <script>
      // Init user selection dropdown
      window.onload = function () {
        $(".ui.selection.dropdown").dropdown();
      };
    </script>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="ui stackable huge green inverted menu">
      <a href="#" class="header item">
        <img
          class="ui avatar image"
          src="https://cdn.discordapp.com/avatars/<%=json.id%>/<%=json.avatar%>?size=512"
        />
        Welcome, <%=json.username%>#<%=json.discriminator%>!
      </a>
      <a class="item active" href="/"> Send </a>
      <a class="item" href="/wallet"> Wallet </a>
      <div class="right menu">
        <a href="https://testnet.bscscan.com/token/<%=contract_address%>?a=<%=address%>" class="item">
          Balance: <%= balanceOfWallet %>
        </a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </div>

    <!-- Body -->
    <div class="ui centered stackable grid">
      <div class="four wide column">
        <!-- <div class="ui segment"></div> -->
      </div>
      <div class="eight wide column">
        <h1>Send GOON To</h1>
        <div class="ui segment">
          <div class="ui large form" action="/send" method="POST">
            <div class="field">
              <div
                class="ui fluid search selection dropdown"
                id="user_dropdown"
              >
                <input type="hidden" name="user"/>
                <i class="dropdown icon"></i>
                <div class="default text">Select User</div>
                <div class="menu">
                  <% user_list.forEach(function(u) { %>
                  <div class="item">
                    <% if (u.Avatar) { %>
                    <img
                      class="ui avatar image"
                      src="https://cdn.discordapp.com/avatars/<%=u.Discord_ID%>/<%=u.Avatar%>?size=512"
                    />
                    <% } else { %>
                    <img class="ui centered avatar image" src="images/user64px.png"/>
                    <% } %>
                    <span class="item" data-value="<%= u.Discord_ID %>"
                      ><%= u.Username %>#<%= u.Discriminator %></span
                    >
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="credit card icon"></i>
                <input type="text" name="amount" placeholder="Amount" />
              </div>
            </div>
            <div class="ui fluid large blue submit button">Send</div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <!-- <div class="ui segment"></div> -->
      </div>
    </div>
  </body>
</html>
