<% layout('./layouts/boilerplate') %>

  <body>
    <div class="ui huge fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
          <img class="logo" src="https://cdn.discordapp.com/avatars/<%=json.id%>/<%=json.avatar%>?size=64">
          Welcome, <%=json.username%>#<%=json.discriminator%>!
        </a>
      </div>
    </div>
    <div>
      <div class="ui main container">
        <h1>Hi, <%= json.username %>!</h1>
        <h3 class="ui success">Your new wallet has been created with 100 GOON. Enjoy!</h3>
        <div class="ui container">
          <div class="ui segment">
            <h4>Receipt:</h4>
            <div>
              🏧 <strong>Transaction Hash:</strong> <%= receipt.transactionHash %>
            </div>
            <div>
              📨 <strong>To:</strong> <%= receipt.to %>
            </div>
            <div>
              📩 <strong>From:</strong> <%= receipt.from %>
            </div>
            <div class="ui divider"></div>
            <div>
              <a class="ui blue button" href="https://testnet.bscscan.com/tx/<%=receipt.transactionHash%>">View Transaction on BSCscan</a>
              <a class="ui green button" href="/">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>