<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="semantic-ui/semantic.min.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
  </head>
  <body>
    <!-- Navbar -->
    <div class="ui stackable huge green inverted menu">
      <a href="#" class="header item">
        <img class="ui avatar image" src="https://cdn.discordapp.com/avatars/<%=json.id%>/<%=json.avatar%>?size=512">
        Welcome, <%=json.username%>#<%=json.discriminator%>!
      </a>
      <a class="item" href="/">
        Send
      </a>
      <a class="item active" href="/receive">
        Receive
      </a>
      <div class="right menu">
        <a href="https://testnet.bscscan.com/address/<%=address%>" class="item">
          Balance: <%= balanceOfWallet %>
        </a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </div>

    <!-- Body -->
    <div class="ui centered stackable grid">
      <div class="four wide column">
        <!-- <div class="ui segment"></div> -->
      </div>
      <div class="eight wide column">
        <div class="ui large form">
          <div class="ui segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="address" placeholder="Recipient Address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="credit card icon"></i>
                <input type="text" name="amount" placeholder="Amount">
              </div>
            </div>
            <div class="ui fluid large blue submit button">Receive</div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <!-- <div class="ui segment"></div> -->
      </div>
    </div>
  </body>
</html>